.newsCard {
  height: 90vh;
  overflow: scroll;
  background-color: rgba(255,255,255, 0.3);
  padding: 30px;
  border-radius: 1%;
}

.newsTitle {
  height: 47px;
  border-bottom: 1px solid #4F565F;
  text-align: center;
  overflow: scroll;
}

.newsDescription {
  height: 85px;
  overflow: scroll;
  text-align: justify;
}

.newsLink {
  color: black;
  text-align: center;
}
