@import url('https://fonts.googleapis.com/css?family=Raleway');

.sidebar {
  background: black;
  opacity: 0.6;
  height: 100vh;
  padding-top: 50px;
}

.sideBarItem {
  height: 70px;
  margin-top: 20px;
}

.sideBarItemFirst {
  margin-top: 130px;
}

.sideBarImage {
  filter: invert(100%);
}

.calendar {
  background-color: rgba(0, 0, 0, 0.5);
  /*filter: invert(40%);*/
}

.noMargin {
  margin: 0;
}

.centreAlign {
  text-align: center;
}

.newsCard {
  height: 90vh;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 1%;
}

.newsTitle {
  height: 47px;
  border-bottom: 1px solid #C0D4EC;
  text-align: center;
  overflow: scroll;
}

.newsDescription {
  height: 85px;
  overflow: scroll;
  text-align: justify;
}

.newsLink {
  color: black;
  text-align: center;
}
