body {
  font-family: sans-serif;
}

.currencyBox {
  background: linear-gradient(blue, green);
  padding: 20px;
  height: 100%;
  color: white;
}

.background {
  background: url('http://res.cloudinary.com/dzctpgu9d/image/upload/v1495530138/fog-1535201_1280_vvmvtk.jpg');
  background-size: cover;
  padding-left: 20px;
}
